<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>AirFree</title>
  <link rel="icon" href="assets/svg/svg8.svg" type="image/svg">

  <!-- stylesheets link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Nav and Banner Section -->
  <section id="nav-banner" class="home container-fluid">
    <!-- Header -->
    <div class="text-white">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="index.html"><img src="assets/svg/svg8.svg" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="services.html">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
              </li>
            </ul>
            <ul class="navbar-nav align-items-center">
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><button class="btn-green-nav">Quick Recharge</button></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Banner -->
      <div id="banner" class="row">
        <div class="col-md-5 heroSection__texts">
          <h1 class="mb-3 w-83">Enjoy the best value and most reliable internet</h1>
          <h5 class="opaque mb-5 w-70 lh-30">Our Oomph bundles let you do anything, with faster fibre broadband speeds,
            a superfast SIM and all the TV you love.
          </h5>
          <button class="btn-green mr-3">Find out more</button>
          <button class="btn-bright">See all Pricing</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Products section -->
  <section id="products" class="container-fluid">
    <div class="row">
      <!-- First column -->
      <div class="col-md-8 firstSection">
        <div class="row">
          <div class="col-md-10 mb-40">
            <h1 class="mb-4 green">Why do you have to subscribe to
              Airfree Broadband ?</h1>
            <h5 class="opaque w-60 lh-30">Our Oomph bundles let you do anything, with faster fibre broadband speeds, a
              superfast SIM and all the TV you love.</h5>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6 service">
            <img src="./assets/svg/svg6.svg" />
            <h3 class="w-70 mb-3">Digital Leased Circuit (DLC)</h3>
            <p class="opaque w-50">Digital Leased Circuit is a fixed bandwidth dedicated symmetric digital connection
              between
              two or more sites <span class="green"><a href=service.html>learn more</a></span>.
            </p>
          </div>
          <div class="col-md-6 service">
            <img src="./assets/svg/svg9.svg" />
            <h3 class="w-50 mb-3">Wireless Services</h3>
            <p class="opaque w-50">Airfree has deployed its own metro access Network in each of the states where it
              operates
              <span class="green"><a href=#>learn more</a></span>.
            </p>
          </div>
        </div>
      </div>
      <!-- Second column -->
      <div class="col-md-4 pricing">
        <h1 class="mb-3">Enjoy the best value and most reliable internet</h1>
        <p class="opaque mb-4">Comfortable work spaces and supporting administrative services to meet the diversified
          needs of our clients. Key to our
          offering are modern technical equipment to give and the audience you may host an welcoming experience.
        </p>
        <div class="d-flex flex-column">
          <button class="btn-bright mb-3">See all Pricing</button>
          <button class="btn-bright">Terms & Conditions</button>
        </div>

      </div>
    </div>

    <!-- Second row -->
    <div class="row secondSection">
      <div class="col-md-4 service">
        <img src="./assets/svg/svg1.svg" />
        <h3 class="w-70 mb-3">Cooperate Internet Services</h3>
        <p class="opaque w-60">We provide cooperate Internet Access which is reliable, dedicated, secure and organized
          Internet access with elevated service levels <span class="green"><a href=#>learn more</a></span>.
        </p>
      </div>
      <div class="col-md-4 service">
        <img src="./assets/svg/svg2.svg" />
        <h3 class="w-70 mb-3">Adaptive Protected
          Network (APN)</h3>
        <p class="opaque w-60">We offer an APN service which enables enterprises to combine two or more sources of
          inexpensive and abundant public
          network connectivity to create a network with a better performance <span class="green"><a href=#>learn
              more</a></span>.
        </p>
      </div>
      <div class="col-md-4 service">
        <img src="./assets/svg/svg3.svg" />
        <h3 class="mb-3">Cloud Services</h3>
        <p class="opaque w-60">Airfree Cloud services are designed to provide easy, scable access to applications,
          resources and services and are fully
          managed by a cloud service providers such as IBM, Microsoft and Huawei <span class="green"><a href=#>learn
              more</a></span>.
        </p>
      </div>
      <div class="col-md-4 service mt-70">
        <img src="./assets/svg/svg10.svg" />
        <h3 class="mb-3">Metro Fibre</h3>
        <p class="opaque w-60">We offer new Fibre technology based on Metropolitan new Fibre Technology associated with
          increase dynamic configurations
          increasing reliability, security and flexible management <span class="green"><a href=#>learn more</a></span>.
        </p>
      </div>
      <div class="col-md-4 service mt-70">
        <img src="./assets/svg/svg4.svg" />
        <h3 class="mb-3">SMEmpower</h3>
        <p class="opaque w-60">Whatever the size of your business, Airfree Technologies Limited broadband boosts your
          business performance with
          uninterrupted and continuous connectivity <span class="green"><a href=#>learn more</a></span>.
      </div>
    </div>
  </section>

  <!-- Info section -->
  <section id="info">
    <div class="row d-flex justify-content-between container">
      <div class="col-md-6">
        <h1>Enjoy the best value and most reliable internet</h1>
        <p class="opaque lh-30">Comfortable work spaces and supporting administrative services to meet the diversified
          needs of our clients. Key to our
          offering are modern technical equipment to give and the audience you may host an welcoming experience.</p>
        <div class="checklist d-flex flex-column">
          <div class="check d-flex">
            <img src="./assets/svg/svg7.svg" />
            <span>100% availability and always-on connectivity</span>
          </div>
          <div class="check d-flex">
            <img src="./assets/svg/svg7.svg" />
            <span>Professional IT support & 24x7 Customer service</span>
          </div>
          <div class="check d-flex">
            <img src="./assets/svg/svg7.svg" />
            <span>Unlimited data uploads and downloads</span>
          </div>
          <div class="check d-flex">
            <img src="./assets/svg/svg7.svg" />
            <span>Configuration and deployment within 24 hours</span>
          </div>
          <div class="check d-flex">
            <img src="./assets/svg/svg7.svg" />
            <span>Fiber-optic back-haul with a high-speed microwave last mile</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact section-->
  <section id="contact" class="container px-10">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-7 littleMoreDetail__writeup">
        <h1 class="mb-4">What is <span class="green">airfree</span> doing, Breaking
          frontiers in wireless solutions</h1>
        <p class="opaque w-83">Airfree platform is an advanced Point-to-multi-point broadband wireless access solution
          delivering MPLS connectivity for
          high-speed IP data and Internet applications. The platform's Carrier Class Services at upstream and downstream
          rates of
          up to 50Mbps per CPE enables it to address clients' requirement for high bandwidth connectivity solutions. The
          platform
          provides lastmile solutions for small, medium and large businesses including multi-dwelling and multi-tenant
          unit
          (MDU/MTU) applications and ensures exceptional traffic handling capacity to provide fast, consistent services
          nation
          wide.
        </p>
        <div class="w-70 d-flex justify-content-between">
          <button class="btn-light-green md">Learn more</button>
          <button class="btn-light-green lg">Call us at 08139123492</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Pick Plan section-->
  <section id="pickPlan" class="text-white text-center d-flex flex-column justify-content-center">
    <div class="d-flex flex-column align-items-center justify-content-between writeup">
      <h1 class="mb-3">Pick a plan today</h1>
      <h5 class="mb-3 opaque">SignUp to get exclusive discount using airfree</h5>
      <div class="mt-2">
        <button class="btn-bright mr-3 text-left">
          Enter email address
        </button>
        <button class="btn-green">
          Get Started
        </button>
      </div>
    </div>
  </section>

  <!-- Catalog section-->
  <section id="catalog" class="container-fluid text-center">
    <div class="row justify-content-center">
      <div class="col-md-5 content">
        <h1 class="mb-4">What is airfree doing, Breaking
          frontiers in wireless solutions</h1>
        <p class="opaque mb-5">Airfree platform is an advanced Point-to-multi-point broadband wireless access solution
          delivering MPLS connectivity for
          high-speed IP data and Internet applications. The platform's Carrier Class Services at upstream and downstream
          rates of
          up to 50Mbps per CPE enables it to address clients' requirement for high bandwidth connectivity solutions. The
          platform
          provides lastmile solutions for small, medium and large businesses including multi-dwelling and multi-tenant
          unit
          (MDU/MTU) applications and ensures exceptional traffic handling capacity to provide fast, consistent services
          nation
          wide.</p>
      </div>
    </div>
    <div class="catalog_products">
      <div class="d-flex flex-column justify-content-center">
        <img src="./assets/svg/left.svg" />
      </div>
      <div class="product">
        <img src="./assets/images/mifi.png" />
        <h3>Freedom Mifi</h3>
        <button class="btn-light-green sm">Buy for N24,000</button>
      </div>
      <div class="product">
        <img src="./assets/images/mifi.png" />
        <h3>Outdoor Modem</h3>
        <button class="btn-light-green sm">Buy for N32,000</button>
      </div>
      <div class="product">
        <img src="./assets/images/mifi.png" />
        <h3>Ace Mifi</h3>
        <button class="btn-light-green sm">Buy for N48,000</button>
      </div>
      <div class="product">
        <img src="./assets/images/mifi.png" />
        <h3>Zoom CFE</h3>
        <button class="btn-light-green sm">Buy for N96,000</button>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <img src="./assets/svg/right.svg" />
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="container-fluid">
    <div class="row footer_content">
      <div class="col-md-3">
        <div class="blocks">
          <h5>Address</h5>
          <h6>Abuja office</h6>
          <p class="opaque">Suit BG3 Annex B Metro Plaza, </br>
            Central Business District, </br>
            Abuja Nigeria.
          </p>
        </div>
        <div>
          <h6>Lagos office 1</h6>
          <p class="opaque">2 Omoseinde Agbaje, </br>
            ora Estate, Agungi, </br>
            Lagos Island, </br>
            Lagos State, Nigeria.
          </p>
        </div>
      </div>
      <div class="col-md-3 second_location">
        <div class="blocks">
          <h5></h5>
          <h6>Lagos office 2</h6>
          <p class="opaque">
            Plot 130, block 10 festac link rd, </br>
            amuwo odofin, lagos.
          </p>
        </div>
        <div>
          <h6>Enugu office</h6>
          <p class="opaque">
            Suit C2 Goshen Plaza, </br>
            38 Garden Avenue GRA Enugu. </br>
            Enugu State, Nigeria. </br>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <h5>Hot Line</h5>
        <p class="opaque">
          08139123492 </br>
          08063388846
        </p>
      </div>
      <div class="col-md-3">
        <h5>Company</h5>
        <p class="opaque">
          Pricing </br>
          Help </br>
          Login </br>
          Recharge </br>
          Terms & Condition
        </p>
      </div>
      <div class="copyright">
        <p>Copyright © 2019, Airfree Technologies Limited. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
</body>

</html>